#stage {
    width: 1024px;
    height: 1386px;
}

body {
	text-align: center;
}

.stripe {
	width: 200px;
	height: 200px;
	background-color: green;
}

#box {
	width: 200px;
	height: 20px;
	background-color: blue;
}